// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(221, 221, 221);
$light-gray: #F4F4F4;
// colors button social media

$test1: #454955;
$test2: #00487C;
$test3: #247BA0;
$test4: #9CAFB7;
$background-tab: #11222f;
$primary: #4DB6AC;
$accent: #46627f;
$white: whitesmoke;
$color-3: #bdc3c7;
// $tur: #B8DBD9;
$tur: #a2bfbd;
$turhover: #8aa3a1 ;
$title: #f79862;
$p: #565252;

// colors social media vertical
$background   : #2d2c3e;
$background-b : #2d2c3e;

// Icon Colors
$green        : #16A085;
$red          : #C82647;
$green-l      : #8CC63F;
$orange       : #EB9532;
$purple       : #7E3661;

