<div class="title-avatar">
  <div class="title">
    <h1>Antonio Sanchez</h1>
    <p>FULL-STACK DEVELOPER | PROJECT MANAGER | MASTER IN BUSINESS AND ADMINISTRATION</p>
    <%= cl_image_tag "antonio", class: "avatar-large" %>
  </div>
  <div class="avatar-antonio">
  </div>
</div>
<div class="content-body">
</div>