<div class="title-content">
  <div class="title">
    <h1>Antonio Sanchez</h1>
    <p>FULL-STACK DEVELOPER | PROJECT MANAGER | MASTER IN BUSINESS AND ADMINISTRATION</p>
    <%= cl_image_tag "antonio", class: "avatar-large" %>
    <p>"Always learning, and improving"</p>
  </div>
  <div class="content-body">
  </div>
</div>