<div class="title-content">
  <div class="title">
    <h1>Antonio Sanchez</h1>
    <p>FULL-STACK DEVELOPER | PROJECT MANAGER | MASTER IN BUSINESS AND ADMINISTRATION</p>
    <%= cl_image_tag "antonio", class: "avatar-large" %>
    <p>"Always learning, and improving"</p>
  </div>
</div>
<div class="content-body">
  <div class="title">
    PROJECTS
  </div>
  <div class="cards-project">
    <div class="cards-project-photo">
      <%= cl_image_tag "greek-gods", class: "photo" %>
    </div>
    <div class="cards-project-info">
      <h1>Greek Gods</h1>
      <p>Project that allows anyone to pray to the lego greek gods, either to smite your enemies or to ask for love</p>
    </div>
  </div>
</div>