.title-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
  }
}







.content-body {
  background-color: black;
}
