.footer {
  text-align: center;
  .title-contact-me {
    color: black;
  }
  .info-contact-me {
    .fa-envelope {
      color: black;
      &:hover {
        color: rgb(56, 55, 55);
      }
    }
  }
}
